    body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    width: 130px;
    font-size: 100%;
}

button:hover {
    background-color: #0056b3;
}

.tns {
    padding: 5px 10px;
    background-color: #ff0000;
    color: white;
    border: none;
    cursor: pointer;
    width: 130px;
    font-size: 100%;
}

.tns:hover {
    background-color: #b30000;
}

#additional-buttons {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 400px; /* Largura do popup */
    max-width: 80%; /* Largura máxima do popup */
}


/* NAVBAR */
header {
    /*background-color: #333;*/
    color: white;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    transition: all 0.5s ease;
    
}

header nav a {
    color: rgb(10, 10, 10);
    text-decoration: none;
    padding: 5px 10px;
    transition: all 0.5s ease;
    font-size: 45px;
    border: 1px solid #ccc; /* Adiciona uma borda de 1px sólida cinza */
    border-radius: 5px; /* Adiciona cantos arredondados à borda */
    display: inline-block;
}

header nav a:hover {
    background-color: #1f5808;
}

main {
    padding: 20px;
    transition: all 0.5s ease;
}

/* Estilo para o conteúdo de cada menu */
.conteudo {
    display: none;
}

.conteudo.active {
    display: block;
}

.div1 {
    width: 100px;
    height: block;
    background-color: #007bff;

}
